<h1>Listing ads</h1>
<h4>View and Select Ads</h4>
<div class="span-16 last redhr"></div>
<div class="span-16 last">
	<% @ads.each do |ad| %>
    	<%= render :partial => "shared/show_ad", :object => ad %>
	<% end %>
</div>
<br />

<%= link_to 'New Ad', new_ad_path %>
