<%= render "shared/header" %>

<h1>Below is a demo of the bettersense technology within the Kaltura CE4 player</h1>
<br />

 <script type="text/javascript" src="http://www.bettersensekaltura.com/p/100/sp/10000/embedIframeJs/uiconf_id/4421530/partner_id/100"></script>
<!-- <script type="text/javascript" src="http://html5.kaltura.org/js"></script> -->

<object id="kaltura_player_1313877503" name="kaltura_player_1313877503" type="application/x-shockwave-flash" allowFullScreen="true" allowNetworking="all" allowScriptAccess="always" height="330" width="400" bgcolor="#000000" xmlns:dc="http://purl.org/dc/terms/" xmlns:media="http://search.yahoo.com/searchmonkey/media/" rel="media:video" resource="http://www.bettersensekaltura.com/index.php/kwidget/cache_st/1313877503/wid/_100/uiconf_id/4421530/entry_id/0_yoe7enqx" data="http://www.bettersensekaltura.com/index.php/kwidget/cache_st/1313877503/wid/_100/uiconf_id/4421530/entry_id/0_yoe7enqx"><param name="allowFullScreen" value="true" /><param name="allowNetworking" value="all" /><param name="allowScriptAccess" value="always" /><param name="bgcolor" value="#000000" /><param name="flashVars" value="&{FLAVOR}&overlay.overlayStartAt=5&overlay.overlayInterval=5" /><param name="movie" value="http://www.bettersensekaltura.com/index.php/kwidget/cache_st/1313877503/wid/_100/uiconf_id/4421530/entry_id/0_yoe7enqx" /><a href="http://corp.kaltura.com">video platform</a> <a href="http://corp.kaltura.com/video_platform/video_management">video management</a> <a href="http://corp.kaltura.com/solutions/video_solution">video solutions</a> <a href="http://corp.kaltura.com/video_platform/video_publishing">video player</a> <a rel="media:thumbnail" href="http://www.bettersensekaltura.com/p/100/sp/10000/thumbnail/entry_id/0_yoe7enqx/width/120/height/90/bgcolor/000000/type/2"></a> <span property="dc:description" content=""></span><span property="media:title" content="Casino Royale Product Placement.mp4"></span> <span property="media:width" content="400"></span><span property="media:height" content="330"></span> <span property="media:type" content="application/x-shockwave-flash"></span> </object>

<!--
<script type="text/javascript" src="http://www.bettersensekaltura.com/html5/html5lib/v1.3.3/modules/AdSupport/mw.AdTimeline.js"></script>
-->
<!--
Nacamar Bettersense Flash Player

<object id="kaltura_player" name="kaltura_player" type="application/x-shockwave-flash" allowFullScreen="true" allowNetworking="all" allowScriptAccess="always" height="330" width="400" xmlns:dc="http://purl.org/dc/terms/" xmlns:media="http://search.yahoo.com/searchmonkey/media/" rel="media:video" resource="http://medianac.nacamar.de/index.php/kwidget/cache_st/1313882952/wid/_461/uiconf_id/1002731/entry_id/0_3byvgkh0" data="http://medianac.nacamar.de/index.php/kwidget/cache_st/1313882952/wid/_461/uiconf_id/1002731/entry_id/0_3byvgkh0"><param name="allowFullScreen" value="true" /><param name="allowNetworking" value="all" /><param name="allowScriptAccess" value="always" /><param name="bgcolor" value="#000000" /><param name="flashVars" value="&" /><param name="movie" value="http://medianac.nacamar.de/index.php/kwidget/cache_st/1313882952/wid/_461/uiconf_id/1002731/entry_id/0_3byvgkh0" /><a href="http://corp.kaltura.com">video platform</a> <a href="http://corp.kaltura.com/video_platform/video_management">video management</a> <a href="http://corp.kaltura.com/solutions/video_solution">video solutions</a> <a href="http://corp.kaltura.com/video_platform/video_publishing">video player</a> <a rel="media:thumbnail" href="http://mn.mdn.nacamar.de/p/461/sp/46100/thumbnail/entry_id/0_3byvgkh0/width/120/height/90/bgcolor/000000/type/2" /> <span property="dc:description" content="" /><span property="media:title" content="Casino Royale Product Placement.mp4" /> <span property="media:width" content="400" /><span property="media:height" content="330" /> <span property="media:type" content="application/x-shockwave-flash" /> </object>
-->

<br />

<div id="companion"> some content </div>


<!-- 
<a href='http://d1.openx.org/ck.php?oaparams=2__bannerid=634318__zoneid=0__OXLCA=1__cb=a30dc995c2__r_id=2041ab2f82f83cb4a266e32070de686c__r_ts=lq94by__oadest=http%3A%2F%2Fwww.bettersense.com%3A3000' target='_blank'><img src='http://i-cdn.servedbyopenx.com/273/2732b2df3db1100300d49e826d822014ea3e23e2/507/5076ca9269d7f00cd80539c52d45b285.png' width='435' height='172' alt='Alt Sony Bravia Text' title='Alt Sony Bravia Text' border='0' /></a><div id='beacon_a30dc995c2' style='position: absolute; left: 0px; top: 0px; visibility: hidden;'><img src='http://d1.openx.org/lg.php?bannerid=634318&amp;campaignid=293305&amp;zoneid=0&amp;loc=1&amp;cb=a30dc995c2&amp;r_id=2041ab2f82f83cb4a266e32070de686c&amp;r_ts=lq94by' width='0' height='0' alt='' style='width: 0px; height: 0px;' /></div>
-->
<%= render "shared/footer" %>
