<%= render "shared/header" %>

<h1>Below is a demo of the bettersense technology within the Kaltura CE4 player</h1>
<br />

<!-- <script type="text/javascript" src="http://www.bettersensekaltura.com/html5/html5lib/v1.3.3/modules/AdSupport/mw.AdTimeline.js"></script> -->


<script type="text/javascript" src="http://www.bettersensekaltura.com/p/100/sp/10000/embedIframeJs/uiconf_id/4421530/partner_id/100"></script>

<object id="kaltura_player_1312848763" name="kaltura_player_1312848763" type="application/x-shockwave-flash" allowFullScreen="true" allowNetworking="all" allowScriptAccess="always" height="330" width="400" bgcolor="#000000" xmlns:dc="http://purl.org/dc/terms/" xmlns:media="http://search.yahoo.com/searchmonkey/media/" rel="media:video" resource="http://www.bettersensekaltura.com/index.php/kwidget/cache_st/1312848763/wid/_100/uiconf_id/4421530/entry_id/0_yoe7enqx" data="http://www.bettersensekaltura.com/index.php/kwidget/cache_st/1312848763/wid/_100/uiconf_id/4421530/entry_id/0_yoe7enqx"><param name="allowFullScreen" value="true" /><param name="allowNetworking" value="all" /><param name="allowScriptAccess" value="always" /><param name="bgcolor" value="#000000" /><param name="flashVars" value="&{FLAVOR}&overlay.enabled=true&overlay.swfUrls=http://d1.openx.org/fc.php?script=bannerTypeHtml:vastInlineBannerTypeHtml:vastInlineHtml&amp;source=&amp;format=vast&amp;charset=UTF_8&amp;nz=1&amp;zones=z1=219123&overlay.overlayStartAt=5&overlay.overlayInterval=5&displayDuration=3" /><param name="movie" value="http://www.bettersensekaltura.com/index.php/kwidget/cache_st/1312848763/wid/_100/uiconf_id/4421530/entry_id/0_yoe7enqx" /><a href="http://corp.kaltura.com">video platform</a> <a href="http://corp.kaltura.com/video_platform/video_management">video management</a> <a href="http://corp.kaltura.com/solutions/video_solution">video solutions</a> <a href="http://corp.kaltura.com/video_platform/video_publishing">video player</a> <a rel="media:thumbnail" href="http://www.bettersensekaltura.com/p/100/sp/10000/thumbnail/entry_id/0_yoe7enqx/width/120/height/90/bgcolor/000000/type/2"></a> <span property="dc:description" content=""></span><span property="media:title" content="Casino Royale Product Placement.mp4"></span> <span property="media:width" content="400"></span><span property="media:height" content="330"></span> <span property="media:type" content="application/x-shockwave-flash"></span> </object>


<%= render "shared/footer" %>
