<h1><i><%= @vid_name %></i></h1>
<h4>Below is a demo of the bettersense technology used within the Kaltura video solution</h4>
<div class="span-16 last redhr"></div>

<br />
<script type="text/javascript" src="http://html5.kaltura.org/js"></script>
<script type="text/javascript" src="<%= BetterSenseDemo::APP_CONFIG["nacamar_js"] %>"></script>

<object id="kaltura_player" name="kaltura_player" type="application/x-shockwave-flash" allowFullScreen="true" allowNetworking="all" allowScriptAccess="always" height="386" width="630" xmlns:dc="http://purl.org/dc/terms/" xmlns:media="http://search.yahoo.com/searchmonkey/media/" rel="media:video" resource="http://medianac.nacamar.de/index.php/kwidget/cache_st/1316469308/wid/_461/uiconf_id/1002321/entry_id/0_62qvv9y7" data="http://medianac.nacamar.de/index.php/kwidget/cache_st/1316469308/wid/_461/uiconf_id/1002321/entry_id/0_62qvv9y7"><param name="allowFullScreen" value="true" /><param name="allowNetworking" value="all" /><param name="allowScriptAccess" value="always" /><param name="bgcolor" value="#000000" /><param name="flashVars" value="&" /><param name="movie" value="http://medianac.nacamar.de/index.php/kwidget/cache_st/1316469308/wid/_461/uiconf_id/1002321/entry_id/0_62qvv9y7" /> <a rel="media:thumbnail" href="http://mn.mdn.nacamar.de/p/461/sp/46100/thumbnail/entry_id/0_62qvv9y7/width/120/height/90/bgcolor/000000/type/2" /> <span property="dc:description" content="" /><span property="media:title" content="SF-Star-Wars.mp4" /> 
	<span property="media:width" content="400" /><span property="media:height" content="333" /> <span property="media:type" content="application/x-shockwave-flash" /> </object>

<br />

<script type="text/javascript" src="<%= BetterSenseDemo::APP_CONFIG["kaltura_ads_js"] %>"></script>