<h1>Editing Your Advertiser Account</h1>
<h4>Please modify the following information</h4>
<div class="span-16 last redhr"></div>

<%= render 'form' %>

<%= link_to 'Show', @advertiser %> |
<%= link_to 'Back', advertisers_path %>
