<h1>New Advertiser Account</h1>
<h4>Please enter the information for your new Account</h4>
<div class="span-16 last redhr"></div>

<%= render 'form' %>
<br /><br />
<%= link_to 'Back', advertisers_path %>
