<h1>Better<b>sense</b> Demos</h1>
<h4>View the following demos to see the better<b>sense</b> system</h4>
<div class="span-16 last redhr"></div>
<div class="span-16 last">
<%= link_to '/demo/kaltura_video' do |link| %>
  <span style="font-size:16px;font-weight:bold"><u>Content Sensitive Video Ads</u></span>
<% end %>
<div class="span-16 last">
  <div class="span-8">
    A demo video showing the better<b>sense</b> content sensitive ad delivery. Served by partner Nacamar, and leveraging the Kaltura HTML5 player.
  </div>
  <div class="span-8 last">
    <%= link_to '/demo/kaltura_video' do |link| %>
      <%= image_tag "kaltura_demo_pic_150.jpg" %>
    <% end %>
  </div>
</div>
</div>
<br />
