<div class="indent1 padding">
	<h4 class="h4-bg1">The best technology available in a cost-effective package</h4>
	<div class="wrapper">
		<ul class="projects">
			<%#
			<li>
				<%#
					vid_x = 640
					vid_y = 360
					play_button_wh = 40
					thumb_x = 380
					wh_ratio = vid_x.to_f / vid_y.to_f
					thumb_y = (thumb_x/wh_ratio).to_f

					thumbnail_options = {}
					thumbnail_options[:size] = [thumb_x,thumb_y.to_i]
					thumbnail_options[:second] = '3'

				?>
				<div class="thumb_column"><a href="demo/kaltura_video"><%= raw getThumbnailWithPlayButton("0_32kvjv16", thumbnail_options, play_button_wh) ?></a></div>
				<div class="description_column"><span>Delivering Context-Targeted Ads</span><hr>
				A demo video showing the <strong>better</strong>sense content sensitive ad delivery. Served by partner Nacamar, and leveraging the Kaltura HTML5 player.</div>
			</li>
			%>
			<li class="last">
				<%
					vid_x = 480
					vid_y = 360
					play_button_wh = 40
					thumb_x = 380
					wh_ratio = vid_x.to_f / vid_y.to_f
					thumb_y = (thumb_x/wh_ratio).to_f

					thumbnail_options = {}
					thumbnail_options[:size] = [thumb_x,thumb_y.to_i]
					thumbnail_options[:second] = '45'
				%>
				<div class="thumb_column"><a href="demo/detected_items"><%= raw getThumbnailWithPlayButton("0_3byvgkh0", thumbnail_options, play_button_wh) %></a></div>
				<div class="description_column"><span>Video Analysis</span><hr>
				Demonstration of the types of items the <b>better</b>sense system can extract from a video.</div>
			</li>
		</ul>
	</div>
</div>
