<h1>Editing Your Video</h1>
<h4>Please modify the following information</h4>
<div class="span-16 last redhr"></div>

<%= render 'form' %>

<%= link_to 'Show', @video %> |
<%= link_to 'Back', videos_path %>
