        </div> 
      </div> 
    </div> 
  <!-- end #page --> 
  </div> 
  <div id="footer"> 
    <p>Copyright (c) 2010 bettersense.com. All rights reserved. - <a href="/contact/index">Contact</a></p> 
  </div> 
  <!-- end #footer --> 
