<body class="bp one-col">

<div class="container">

<!-- end #menu --> 
<!--
  <div style="clear: both;">&nbsp;</div> 
  <div style="clear: both;">&nbsp;</div> 
  <div style="clear: both;">&nbsp;</div> 
-->
  <br /> <br /> <br />
  <a href="/">
    <div class="header">
      <div class="logo">
      </div>
    </div>
  </a>

<!-- end #header --> 
  <div class="content showgrid"> 

  <p class="notice" id="notice"><%= notice %></p>
  <p class="alert" id="alert"><%= alert %></p>
