<div class="loading">
  <div class="prepend-6 span-1">
    <img width="50" height="50" src="/images/loaderTrans.gif">
  </div>
  <div class="prepend-top">
    <p>&nbsp;&nbsp;Loading...</p>
  </div>
  <br />
</div>
