<h1>Generate API Token</h1>
<h4>Generate a new API Token and Secret</h4>
<div class="span-16 last redhr"></div>

<div class="span-16 last grayBox">
	Token = <%= @token %><br />
	Secret = <%= @secret %>
</div>

<br />

<%= link_to 'New Campaign', new_campaign_path %>

