<h1>API Token</h1>
<h4>View and manage your API token</h4>
<div class="span-16 last redhr"></div>

<div class="span-16 last grayBox">
	Token = <%= @token %>
</div>

<br />

<%= link_to 'New Campaign', new_campaign_path %>

