<% page_title("How") %>
<div class="indent1 no_bottom padding">
	<h4 class="h4-bg1">The <strong>better</strong>sense Process</h4>
	<div class="wrapper">
		<ul class="projects">
			<li class="odd">
				<div class="vert_parent">
					<div class="number_element">1.</div>
						<div class="thumb_column thumb_parent_1"><div class="how_image_1"></div></div>
					<div class="description_column"><span>Interface for upgraded revenue</span><hr>
					Get started and increase ad revenue. <strong>better</strong>sense analyzes your videos continuously via an automated system.</div>
				</div>
			</li>
			<li class="even">
				<div class="vert_parent">
					<div class="number_element">2.</div>
					<div class="description_column"><span>Video analysis scene-by-scene</span><hr>
					Content know-how beyond tagging: We monitor the content of videos using advanced image-recognition and social intelligence technologies to detect items and scenes with a new level of accuracy.</div>
					<div class="thumb_column thumb_parent_2"><div class="how_image_2"></div></div>
				</div>
			</li>
			<li class="odd">
				<div class="vert_parent">
					<div class="number_element">3.</div>
					<div class="thumb_column thumb_parent_3"><div class="how_image_3"></div></div>
					<div class="description_column"><span>Metadata at its best</span><hr>
					We know exactly what’s in your videos – and what’s of importance. Our proprietary algorithms weight the relevance of the detected items to deliver the most sophisticated metadata.</div>
				</div>
			</li>
			<li class="even">
				<div class="vert_parent">
					<div class="number_element">4.</div>
					<div class="description_column"><span>Performance data from earlier campaigns</span><hr>
					To know what’s in the video is only half the battle. Our secret sauce is in knowing which ad performs the best. The unique <strong>better</strong>sense performance engine optimizes running ad campaigns continuously – last but not least based on our rapidly growing performance data.</div>
					<div class="thumb_column thumb_parent_4"><div class="how_image_4"></div></div>
				</div>
			</li>
			<li class="odd">
				<div class="vert_parent">
					<div class="number_element">5.</div>
					<div class="thumb_column thumb_parent_5"><div class="how_image_5"></div></div>
					<div class="description_column"><span>The right ad in the right scene</span><hr>
					Placing ads without a deep understanding about the related content – that's for the Stone Age. Be ahead of the game and offer time-based advertising to your customers today.</div>
				</div>
			</li>
			<li class="even last">
				<div class="number_element">6.</div>
				<div class="description_column"><span>The better choice for advertisers</span><hr>
				Closing the link between advertisement and video content increases the acceptance by the audience, leading to a higher branding impact and performance.</div>
				<div class="thumb_column thumb_parent_6"><div class="how_image_6"></div></div>
			</li>
		</ul>
	</div>
</div>
