<h3>Content Sensitive Video Advertising</h3>
<div><b>better</b>sense adopts the most successful web-based ad method: Keyword advertising, and introduces it into the largest advertising market: TV and Online Video.<br /><br />
We analyze the content of videos instead of text using advanced image-recognition techniques and display ads accurately fitting to the detected items.
</div>
<div class="span-16 last redhr"></div>
<div class="span-8">
<h4>Video Publishers: Complementary Ad Income</h4>
    Use the <b>better</b>sense technology in parallel to your existing ad systems to gain additional ad revenues and improve the quality and focus of your reach.
</div>
<div class="span-8 last">
<h4>Advertisers: Superior Performance</h4>
    Display your ads in reference to the content of videos and achieve a better acceptance and advertising impact.
</div>
<div class="span-16 last redhr"></div>
<div class="span-8">
  <img src="images/Picture_film_3steps_309-337.png" alt="Demexco!"/>
</div>
<div class="span-8 last">
  <div class="grayBox">
    <%= link_to '/demo' do %>
      <h4><u>Demo Page</u></h4>
    <% end %>
    Please visit our <%= link_to 'Demo', '/demo' %> page to see what <b>better</b>sense has to offer.
  </div><div class="redhr"></div>
  <div class="grayBox">
    <h4>Contact Information:</h4>
    Tel. +49 8151 972 10 0<br />
    info@bettersense.com<br />
  </div><div class="redhr"></div>
  <h4>Thanks for visiting us at our exhibition stand at Demexco!</h4>
  <b>Better</b>sense hosted a booth at Demexco 2011 in Cologne, Germany.  Thanks for all that attended, met our team, and saw the demonstration of our technology.<br />&nbsp;<br />
</div><br /><br />
<!-- end #content -->

