<%= render "shared/header" %>

<h3>Content-sensitive video advertising</h3>
<div style="clear: both;">&nbsp;</div>
                <p>The emerging trend of Internet-based video increases the need for methods of financing online video content. Special video sites like YouTube and Hulu are the forerunners of a new generation of web sites differentiating with videos.</p>
                <p>Text-content related ads are currently the most effective way to advertise and hold a market share of more than 50 percent of online advertising.</p>
                <p>better<b>sense</b> improves this advertising method with video content. The better<b>sense</b> technology detects items within videos and displays the best fitting and most successful ads, while simultaneously providing a better watching experience for the viewer.</p>
                <p>Unlinke other major advertising services, with better<b>sense</b> video publishers and broadcasting companies are welcome to directly provide their advertising clients with a new experience of highly effective video advertising.</p>
                <p>For further details please see our <%= link_to "Contact", "contact/index" %> page</p>
                <p>Please take a moment to view our <%= link_to "Demo", videos_path %></p>
                <div style="clear: both;">&nbsp;</div>
                </div>
                <!-- end #content -->
                <div style="clear: both;">&nbsp;</div>

<%= render "shared/footer" %>
