<h3>Content-sensitive video advertising</h3>
<div class="greyBox">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
</div>
<%= link_to "Contact", "contact" %> us for further details.<br>
And please take a moment to check out our <%= link_to "Demo", videos_path %>
<div class="span-16 last redhr"></div>
<div class="span-8">
<h4>Video Performance Features</h4>
  <div class="greyBox">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
  </div>
</div>
<div class="span-8 last">
<h4>Advertiser Demo</h4>
  <div class="greyBox">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
  </div>
</div>
<div class="span-16 last redhr"></div>
<div class="span-8">
<h4>Technologies</h4>
  <div class="greyBox">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
  </div>
</div>
<div class="span-8 last">
<h4>In-Video Ads</h4>
  <div class="greyBox">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
  </div>
</div>
<div class="span-16 last redhr"></div>
<div class="span-7 prepend-1">
  <a href="http://www.demexco.de/"><img src="images/Flyer_A6_Dmexco_A6_200.jpg" alt="Demexco!"/></a>
</div>
<div class="span-8 last">
  <h3>Come visit us at <a href="http://www.demexco.de/">Demexco!</a></h3>
  <p>Bettersense will be hosting a booth at Demexco 2011 this month in Cologne, Germany.  Stop by to see a live demo of our newest release of the better<b>sense</b> technology.
</div>
<!-- end #content -->
