<% page_title("bettersense Team") %>
<div class="indent1">
	<div class="wrapper">
		<article class="grid_8 alpha">
			<h4 class="h4-bg1">The Most Creative Ideas</h4>
			Nisus leo vel nean necoulum antepsum prin faucibus oposuere cubind isse sollicitu dinvelitedle pharetr.unt arra selorta diam eim velit. Fusc ism. Lorem ipsum dolor sit. onsectetue adicing elir. Pellentesque sed dolor. Aliqua ngue fermentum nisl. Mauris accuml dia.  Sed in lacus ut enimer adipiscing aliqIn pde aliquet sit amet euismod inuctor ut ligula. Aliquam srene.
			<div class="wrapper pad">
				<ul class="list_1 col-1">
					<li><a href="#">Suspendisse sollicitudin velit sed leore</a></li>
					<li><a href="#">Ut pharetra augue nec auguere</a></li>
					<li><a href="#">Nam elit agna,endrerit sit amet sterser</a></li>
					<li><a href="#">Tincidunt ac, viverra sed, nulla</a></li>
				</ul>
				<ul class="list_1 fleft">
					<li><a href="#">Suspendisse sollicitudin velit sed leore</a></li>
					<li><a href="#">Ut pharetra augue nec auguere</a></li>
					<li><a href="#">Nam elit agna,endrerit sit amet sterser</a></li>
					<li><a href="#">Tincidunt ac, viverra sed, nulla</a></li>
				</ul>
			</div>
			<h4 class="h4-bg3 margin">Our Team</h4>
			<ul class="team">
				<li>
					<a href="images/tfile_gall_1_1-big.jpg" class="lightbox-image" rel="prettyphoto[rel]" title="Example 1"><img src="images/tfile_gall_1_1.jpg" alt="Dr. Jan Weber is from Munich, Germany. He studied mechanical engineering at RWTH Aachen and received his Ph.D. from the Technical University of Munich in business administration. Dr. Jan Weber operated his own online marketing company."></a>
					<strong>Dr. Jan Weber</strong> CEO and Co-Founder
				</li>
				<li>
					<a href="images/tfile_gall_1_1-big.jpg" class="lightbox-image" rel="prettyphoto[rel]" title="CS and Economics from UCSB"><img src="images/tfile_gall_1_1.jpg" alt="Jesse Smith holds a Bachelor of Computer Science and a Master of Economics from the University of California at Santa Barbara. For seven years he has successfully worked as a software developer, IT consultant, and project manager."></a>
					<strong>Jesse Smith</strong> CTO and Co-Founder
				</li>
				<li>
					<a href="images/tfile_gall_1_1-big.jpg" class="lightbox-image" rel="prettyphoto[rel]" title="Example 1"><img src="images/tfile_gall_1_1.jpg" alt=""></a>
					<span><strong>Bradley Grosh</strong> Team Leader</span>
				</li>
			</ul>
		</article>
		<article class="grid_4 omega">
			<h4 class="h4-bg4">Features</h4>
			<ul class="list2">
				<li><a href="#">Our Mission</a></li>
				<li><a href="#">Employment</a></li>
				<li><a href="#">The most creative ideas</a></li>
				<li><a href="#">Solutions, that you need</a></li>
				<li><a href="#">Why choose us</a></li>
				<li><a href="#">Featured solutions</a></li>
				<li><a href="#">Partnership</a></li>
				<li><a href="#">Dynamic development</a></li>
				<li><a href="#">Professional researches</a></li>
				<li><a href="#">Precise and impartial approach</a></li>
				<li class="last"><a href="#">Changing the future with us</a></li>
			</ul>
		</article>
	</div>
</div>
