<% page_title("Team") %>
<h1><b>better</b>sense Team</h1>
<div class="span-16 last redhr"></div>
<div class="span-16 last">
	<div class="span-6">
		<%= image_tag('Jan_Weber.png', :size => "240x161")%>
	</div>
	<div class="span-9 grayBox" style="margin-top:0px"><b>CEO and Co-Founder</b></br>Dr. Jan Weber is from Munich, Germany. He studied mechanical engineering at RWTH Aachen and received his Ph.D. from the Technical University of Munich in business administration. Dr. Jan Weber operated his own online marketing company.</div>
	<div class="span-1"></div><br />
	<div class="span-16 last">&nbsp;</div>
	<div class="span-9 grayBox" style="margin-left:22px;margin-top:0px"><b>CTO and Co-Founder</b></br>Jesse Smith holds a Bachelor of Computer Science and a Master of Economics from the University of California at Santa Barbara. For seven years he has successfully worked as a software developer, IT consultant, and project manager.</div>
	<div class="span-6">
		<%= image_tag('Jesse_Smith.png', :size => "240x161")%>
	</div>
	<div class="span-1 last"></div>
	<div class="span-16 last">&nbsp;</div>
</div>
