  <% if iqeinfo.matcheditem != "Dark | " && iqeinfo.matcheditem != "Blank | " %> 
  <p>
    <b>Image</b>
    <img src="<%= iqeinfo.imagepath %>">
  </p> 
  <p>
    <b>Matched Item(s):</b>
    <%= iqeinfo.matcheditem %>
  </p>

  <% end %>
