<%= javascript_include_tag "jquery.sausage.js" %>
<h1>Listing IQEInfos for video <%= @video.name %></h1>

<!--
<table>
  <tr>
    <th>imagepath</th>
    <th>image</th>
    <th>matcheditem</th>
    <th>videotimemillis</th>
    <th>results</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%# @iqeinfos.each do |iqeinfo| %>
  <tr>
    <td><%# iqeinfo.id %></td>
    <td><%#iqeinfo.imagepath %></td>
    <td><img src="<%# iqeinfo.imagepath %>" /></td>
    <td><%# iqeinfo.matcheditem %></td>
    <td><%# iqeinfo.videotimemillis %></td>
    <td><%# iqeinfo.results %></td>
  </tr>
<%# end %>
</table>
-->

<div id="piclist">
  <%= render 'picdivinfo', :iqeinfos => @iqeinfos %>
</div>

<script type="text/javascript">
(function() {
  var page = 1,
      loading = false;

  function nearBottomOfPage() {
    return $(window).scrollTop() > $(document).height() - $(window).height() - 200;
  }

  $(window).scroll(function(){
    if (loading) {
      return;
    }

    if(nearBottomOfPage()) {
      loading=true;
      page++;
      $.ajax({
        url: "<%= request.request_uri %>" + "?page=" + page,
        type: 'get',
        dataType: 'script',
        success: function() {
          $(window).sausage('draw');
          loading=false;
        }
      });
    }
  });

  $(window).sausage();
}());
</script>

<%# will_paginate @iqeinfos %>

