<%= render "shared/header" %>
<span align="center">
<pre><span><b>Address:</b>
Hanfelder Str. 72
82319 Starnberg
Germany

<b>Board of Directors:</b>
Tobias Schlitzke
Jesse Smith
Dr. Jan Weber

<b>Contact:</b>
Tel. +49 8151 972 10 0
Fax: +49 8151 972 10 28
<img  height="22" width="170" src="../images/infoEmailAddress.png" /></span></pre>
        </span>
<%= render "shared/footer" %>
