					<div class="indent1">
						<div class="wrapper">
							<article class="grid_4 alpha">
								<h4 class="h4-bg">Primary Contacts</h4>
								<img src="images/sanfran_276.png" alt="" style="border:1px solid #cccccc;"/>
								<p class="pad3"><strong>United States<br> 
								San Francisco, CA</strong></p>
								
								<p><span>Contact:</span> Jesse Smith</p>
								<span class="phone">Telephone:</span>+1 (415) 857-3673<br>
								E-mail: <a href="mailto:sf@bettersense.com" class="link1">sf@bettersense.com</a>
								
								<p class="pad3"><strong>Germany<br> 
								Munich</strong></p>
								
								<p><span>Contact:</span> Jan Weber</p>
								<span class="phone">Telephone:</span>+49 8151 972 10 0<br>
								<span class="phone">FAX:</span>+49 8151 972 10 28<br>
								E-mail: <a href="mailto:muc@bettersense.com" class="link1">muc@bettersense.com</a>
								
							</article>
							<article class="grid_8 omega">
								<h4 class="h4-bg1">Get in Touch</h4>
									<div id="contact_form"><form action="/contact" id="contact-form" method="post" class="main-contacts">
										<fieldset>
											<input type="hidden" name="owner_email" id="owner_email" value="webadmin@bettersense.com" />
											<input type="hidden" name="serverProcessorType" id="serverProcessorType" value="php" />
											<input type="hidden" name="smtpMailServer" id="smtpMailServer" value="localhost" />
											<input type="hidden" name="stripHTML" id="stripHTML" value="true" />
		
											<div class="rowElem">
												<input type="text" name="name" id="name" value="Name:" onFocus="if(this.value=='Name:'){this.value=''}" onBlur="if(this.value==''){this.value='Name:'}" />
												<label class="error" for="name" id="name_error">*This field is required.</label>
												<label class="error" for="name" id="name_error2">*This is not a valid name.</label>
											</div>
											<div class="rowElem">
												<input type="email" name="email" id="email" value="E-mail:" onFocus="if(this.value=='E-mail:'){this.value=''}" onBlur="if(this.value==''){this.value='E-mail:'}" />
												<label class="error" for="email" id="email_error">*This field is required.</label>
												<label class="error" for="email" id="email_error2">*This is not a valid email address.</label>
											</div>
											<div class="rowElem">
												<input type="text" name="phone" id="phone" value="Phone:" onFocus="if(this.value=='Phone:'){this.value=''}" onBlur="if(this.value==''){this.value='Phone:'}" />
												<label class="error" for="phone" id="phone_error">*This field is required.</label>
												<label class="error" for="phone" id="phone_error2">*This is not a valid phone number.</label>
											</div>
											<div class="textarea-box">
												<textarea onFocus="if(this.value=='Message:'){this.value=''}" onBlur="if(this.value==''){this.value='Message:'}" name="message" id="message">Message:</textarea>
												<label class="error" for="message" id="message_error">*This field is required.</label>
												<label class="error" for="message" id="message_error2">*The message is too short.</label>
											</div>
											<div class="alignright">
												<a href="#" id="clear" class="button1" ><span>Clear</span></a><a href="#" id="submit" class="button2" ><span>Submit</span></a>
											</div>
											<input style="visibility:hidden" id="contact_submit" name="commit" type="submit" value="" />
										</fieldset>
									</form>
								</div>
							</article>
						</div>
					</div>